body {
  transition: all 0.7s;
}
.list {
  overflow: hidden;
  font-size: 16px;
}
.duoyu {
  display: flex;
  gap: 5px;
  margin-bottom: 8px;
  height: 23px;
}
.duoyu .danm {
  flex-shrink: 0;
  min-width: 45px;
  padding: 0 5px;
  border-radius: 5px;
  text-align: center;
  color: aliceblue;
}
.duoyu .level {
  flex-shrink: 0;
  width: 50px;
  text-align: center;
  background-color: #91E3A0;
  border-radius: 5px;
  color: aliceblue;
}
.duoyu .user {
  flex-shrink: 0;
  min-width: 70px;
  color: #E75924;
}
.duoyu .text {
  height: 45px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bt {
  z-index: 9999;
  opacity: 0.08;
  height: 45px;
  width: 45px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 30px;
  padding: 5px;
  border: none;
  font-size: 12px;
  background-color: #E75924;
  color: aliceblue;
  cursor: pointer;
  transition: all 0.3s;
}
.bt:hover {
  opacity: 1;
}
.cut {
  top: 70px;
}
